# Verification

**Summary**: The process of checking that data has been accurately copied or transferred from one place to another. Methods include double entry and visual check.
**Tags**: #concepts #computer-science #igcse-computer-science #algorithms
**Created**: 2026-05-08T14:03:00Z
**Last Updated**: 2026-05-08T14:03:00Z

---

## Content

The process of checking that data has been accurately copied or transferred from one place to another. Methods include double entry and visual check.

## Related Notes

- [[CS-Index]]
